node_modules
.next
.git
.env
.env.*
npm-debug.log
Dockerfile
docker-compose.yaml
docker-compose-example.yaml
dist
coverage
*.local
.DS_Store
.vscode
.idea
prisma/dev.db
prisma/dev.db-journal
.env.docker
